@font-face {
  font-family: "Fraunces";
  src: url(/public/fonts/Fraunces_144pt-SemiBold.ttf);
}


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  position: relative;
}

h1, h2, h1 span {
  font-family: 'Fraunces', serif;
}

#archShape {
  border-radius: 0 0 700px 700px/ 0 0 60px 60px;
}